{% extends "appbitacoras/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
…

     <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  

     <h3>Podes buscar una bitacora:</h3>
 
     <form action="/appbitacoras/buscar/" method="GET">
 
         <input type="number" name="numerobit" id="numerobit">
 
         <input type="submit" value="Buscar">
 
 
 
 
     </form>
 
     
 
     {% if asignedto %}
 
     <p>Estamos buscando el: {{numerobit}}</p>
 
     <ul>
     {% for Bitacora in asignedto %}
         <li> {{Bitacora.numerobit}} </li>
         <li> {{Bitacora.asignedto}} </li>
     {% endfor %}
 
     </ul>
 
     {% endif %}

{% endblock %}

