{% extends "appbitacoras/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
…

     <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  
     <div class="text-center"> 
        <img height="40px" src="{{url}}">
        <h3>Que bueno verte {{user.username}}</h3>
    </div>

     <h3>Busca una bitacora:</h3>
 
     <form action="/appbitacoras/buscar/" method="GET">
 
         <input type="number" name="numerobit" id="numerobit">
 
         <input type="submit" value="Buscar">
 
 
 
 
     </form>
 
     
 
     {% if asignedto %}
 
     <p>Estamos buscando el: {{numerobit}}</p>
 
     <ul>
     {% for Bitacora in asignedto %}
         <li> {{Bitacora.numerobit}} </li>
         <li> {{Bitacora.asignedto}} </li>
     {% endfor %}
 
     </ul>

     <div class="text-center"> 
        <img height="40px" src="{{url}}">
        <h3>Que bueno verte {{user.username}}</h3>
    </div>
 
     {% endif %}

{% endblock %}

